@charset "UTF-8";
/* CSS Document */
/* Styles for Roulette Game */

body {
	margin 0 auto 0 auto;
	background-color: black;
}
#gametable {
	margin-left: auto;
	margin-right: auto;
}
#wheel {
	float: left;
	margin-top: 50px;
}
#chiprow {
	position: absolute;
	left: 600px;
	top: 600px;
	z-index: 2;
}
#betinfo {
	background-color: white;
	width: 80px;
	height: 20px;
}
#betloc { /*this is for testing only*/
	background-color: white;
	width: 80px;
	height: 20px;
}
#betamount { 
	background-color: white;
	width: 80px;
	height: 20px;
}
#betresult { 
	background-color: white;
	width: 600px;
	height: 100px;
}
#userinfo { 
	background-color: white;
	width: 300px;
	height: 100px;
}
